.picture {
    display: inline-block;
    height: auto;
}

.picture_2{    
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.picture_2 img{
    height: auto;
    border: 5px double #000000;
    cursor: pointer;
}


.picture_2 img:hover{
  opacity:0.4;
}

.box_class {
    display: grid;
    background-color:rgba(0,0,0,0.7);
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    overflow: auto;
    position: fixed;
    align-content: center;
    justify-content: center;
  }
  
.box_show_class{
    display: flex;
    margin: auto;
    max-width: 700px;
    width: 600px;
    background-color: white;
    border: 3px solid pink;
    cursor: mouse;
    
  }
  
.title {
    color: black;
    font-size: 45px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.director {
    color: black;
    font-size: 20px;
    line-height: 20px;
  }
  
.rating {
    font-size: 20px;
    font-weight: bold;
    background-color: yellow;
    color: black;
  }
  
.score {
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    color: black;
  }

  

